<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoostUp_tablet"
        tools:targetApi="31">
        <activity
            android:name=".Activity.leer_qr_activity"
            android:exported="true">



        </activity>
        <activity
            android:name=".Activity.mantenimiento_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.tomar_bebida_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.preparando_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.poner_vaso_activity"
            android:exported="false" />
        <activity
            android:name=".Activity.reporte_ventas_activity"
            android:exported="true">


        </activity>
        <activity
            android:name=".Activity.resumen_pedido_activity"
            android:exported="true" />
        <activity
            android:name=".Activity.inventario_activity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activity.historial_fallo_activity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activity.ver_fallo_activity"
            android:exported="true" />
        <activity
            android:name=".Activity.dueno.reportar_fallo_activity"
            android:exported="true" />
        <activity
            android:name=".Activity.tecnico.asignar_maquina_activity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.no_ingrediente_activity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.dueno.home_dueno_activity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.tecnico.home_tech_activity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.signin_dueno_Activity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.signin_tech_Activity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">

        </activity>
        <activity
            android:name=".Activity.Idle_Activity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">

        </activity>
    </application>

</manifest>